extends layouts/main.pug

block content
    .form-container
        form(action=routes.join, method="post")
            h3="Register to Utube"
            input(type="text", name="name", placeholder="Enter Full Name" required=true)
            input(type="email", name="email", placeholder="Enter Email" required=true)
            input(type="password", name="password", placeholder="Enter Password" required=true)
            input(type="password", name="password2", placeholder="Verify Password" required=true)
            input(type="submit", value="Join Now")
        include partials/socialLogins